@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{	
	html{
		font-family: 'Pangolin', cursive;
		transition: all 0.5s linear;
	}
}

#container{
	@apply relative w-screen h-screen text-xl uppercase;
}

#toggle-section{
	@apply absolute top-[10%] left-1/2 -translate-x-1/2 -translate-y-[10%]
}

.toggles{
	@apply rounded border border-black flex justify-between dark:border-white;
}

#hours-format{
	@apply mt-4 w-3/5 mx-auto
}

.toggle--options{
	@apply font-mali p-3 py-2
}

#clock-section{
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

#digital-clock{
	@apply flex
}

#digital-clock>p{
	@apply text-5xl
}

#digital-clock--hours-format{
	@apply ml-4
}

.selected{
	@apply bg-black dark:bg-white dark:text-black text-white
}

#analog-clock-outside{
	@apply p-[35vw] relative border border-black;
	border-radius: 50%;
}

.analog-clock--hands{
	@apply rounded absolute bottom-1/2 left-1/2 -translate-x-1/2 bg-black h-[32vw] w-2 origin-[0%_100%];
}

#analog-clock--minute{
	@apply bg-[#F09D51] z-1 w-[0.3rem]
}

#analog-clock--hours{
	@apply bg-[#F06543];
	height: min(10rem, 17vw);
}

#analog-clock--seconds{
	@apply h-24 w-1
}

#analog-clock--dot{
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-black z-2;
	padding: 7px;
	border-radius: 50%;
}